block body
    .container
        form(ng-submit="searchTwitter()").form-horizontal
            input(type="text", ng-model="searchQuery", name="text", placeholder="Twitter search term")
            input.btn-primary(type="submit", value="Search") 
    .container
        pre 
            table.table
                caption 
                    h3 Search Results
                tbody
                    tr(ng-repeat="status in twitterJSON.statuses")
                       td {{status.user.screen_name}} : {{status.text}}
