div.container-fluid
    .row-fluid
        div.alert.alert-info.span9
            h5 Reach the right customers, at the right time, with the best offers. Tweetforce allows you to send targeted offers, coupons, and promotions to local customers on Twitter who are currently in need of your services.

        div.span3.padding-twenty
            // p Get started by signing in with Twitter!
            // a.btn.btn-info.btn-large(href='/auth/twitter', target='_self')
            //    i.icon-twitter.icon-large 
            //    |  Sign in with Twitter 
            a.btn.btn-success.btn-large.btn-block(role="button", href="#myModal2", target="_self", data-toggle="modal")
                |  Sign Up 

    center
        h1.font-white 3 Reasons to Try Tweetforce
    div.hero-unit
        .row-fluid
            div.span10
                h3.text-info BEING SOCIAL HAS NEVER BEEN EASIER 
                p Tweetforce performs customized twitter searches for your business, so you can find people who need your specific services.
            div.span2
                i.icon-twitter.icon-5x.pull-right(style="font-size: 7em")
    div.hero-unit
        .row-fluid
            div.span2
                i.icon-group.icon-5x.pull-left
            div.span10
                h3.text-info FIND CUSTOMERS IN YOUR NEIGHBORHOOD
                p Tweetforce shows you only the people in your area which means new customers in your door today!
    div.hero-unit
        .row-fluid
            div.span10
                h3.text-info MOBILE FRIENDLY 
                p Whether it is on the golf course, at your children's sports events, or at a convention - Tweetforce's mobile friendly interface keeps you always connected.
            div.span2
                i.icon-mobile-phone.icon-5x.pull-right(style="font-size: 9em")
