center
    div.hero-unit
        h1.text-info Sign-Up Complete!
        p Thank you for signing up for Tweetforce. We are excited to help you take your marketing to the next level. A confirmation message will be sent to you shortly.

