extends layout

block body
    div#myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        div.modal-header.font-black
           //button.close(type="button", data-dismiss="modal", aria-hidden="true") x
           h3#myModalLabel Welcome! 
        div.modal-body.font-black
           h4 Getting Started
           p Since this is a new account, we need additional information about your business in order to optimize your experience. Please fill in the following fields so that we can better help you find customers!
           form(id="modal-form",method="post",action="/save-info-first-time").form-horizontal
                div.control-group
                    label.control-label(for="inputEmail") Street Adress 
                    div.controls
                        input#inputEmail(type="text", name="streetAddress")
                div.control-group
                    label.control-label(for="inputCity") City 
                    div.controls
                        input(id="inputCity",type="text", name="city")
                div.control-group
                    label.control-label(for="inputRadius") Search Radius 
                    div.controls
                        input(id="inputRadius",type="text", name="radius")
        div.modal-footer.font-black
           button.btn.btn-primary(id="modal-submit",data-dismiss="modal", aria-hidden="true") Done
    .container
        div.row
            h1 Your Dashboard
    div.container(ng-controller="AccountCtrl")
        div.container-fluid.row.hero-unit.font-black
            h3(style='text-align: center') Your Keywords
            div.row-fluid
                div.span6
                    table.table.table-hover.table-condensed.table-bordered
                        thead 
                            tr
                                th 
                                th Suggested Keywords
                        tbody
                            tr
                                td 1
                                td need
                                    button.btn.btn-mini.btn-success.pull-right(type="button")
                                        i.icon-plus-sign-alt
                                        |   Add
                            tr
                                td 2
                                td need
                                    button.btn.btn-mini.btn-success.pull-right(type="button")
                                        i.icon-plus-sign-alt
                                        |   Add
                            tr
                                td 3
                                td need
                                    button.btn.btn-mini.btn-success.pull-right(type="button")
                                        i.icon-plus-sign-alt
                                        |   Add
                div.span6
                    table.table.table-hover.table-condensed.table-bordered
                        thead 
                            tr
                                th
                                th Keywords In Use
                        tbody
                            tr(ng-repeat="keyword in keywords")
                                td {{ $index + 1 }} 
                                td {{ keyword }}
                                    button.btn.btn-mini.btn-danger.pull-right(ng-click="removeKeyword($index)",type="button")
                                        i.icon-minus-sign-alt
                                        |   Remove
            div
                form(ng-submit="addUserKeyword()").form-inline
                    input(type="text", ng-model="keywordTerm", name="keywordTerm", placeholder="Twitter search term").background-gray
                    input.btn.btn-success(type="submit", value="Add Custom Keyword") 
    div.container(ng-controller="AppCtrl")
        div.row.container-fluid.hero-unit.font-black
            h3(style="text-align: center") Tweet Search
            div
                form(ng-submit="searchTwitter()").form-inline
                    input(type="text", ng-model="searchQuery", name="text", placeholder="Twitter search term").background-gray
                    input.btn.btn-primary(type="submit", value="Search") 
            div
                pre.background-gray 
                    table.table.table-hover
                        caption 
                            h3 Search Results
                            i(ng-show="search").icon-spinner.icon-spin.icon-4x
                        tbody
                            tr(ng-repeat="status in twitterJSON.statuses")
                               td {{status.user.screen_name}} ({{status.created_at}}): {{status.text}}
                                  button.btn.btn-success.pull-right(type="button")
                                    i.icon-twitter
                                    |   Respond

    script(src='js/lib/angular/angular.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/lib/jquery/jquery-1.9.1.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(type='text/javascript')
        $(window).load(function() {
            if(#{newUser}) {
                $('#myModal').modal({
                      backdrop: 'static',
                      keyboard: false
                })
                $('#myModal').modal('show');
                $("#modal-submit").click(function() {
                    $("#modal-form").submit();
                });
            }
        });
