!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Tweetforce - Automate Your Small Business Marketing 
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
  body.background-black
      .navbar.navbar-fixed-top
        .navbar-inner.navbar-complete-white-bg
          .container
            a.brand(href='#', target="_self", style="max-width: 20%").font-intuit-blue
                img(src='../../img/intuit_labs_logo.jpg', style='width: 40%')
                |   Tweetforce               
            -if(user)
                div.btn-group.pull-right
                    a.btn.btn-primary(href="/account", target="_self") 
                        i.icon-dashboard
                        |   #{user.username} Dashboard
                    a.btn.btn-primary.dropdown-toggle(href="#", target="_self",data-toggle="dropdown") 
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/logout", target="_self") 
                                i.icon-suitcase 
                                |   Logout
    block body
